[submodule "glew"]
	path = libraries/glew
	url = https://github.com/Perlmint/glew-cmake
[submodule "glfw"]
	path = libraries/glfw
	url = https://github.com/glfw/glfw
[submodule "libraries/nativefiledialog"]
	path = libraries/nativefiledialog
	url = https://github.com/freddycansic/nativefiledialog-cmake
[submodule "libraries/assimp"]
	path = libraries/assimp
	url = https://github.com/assimp/assimp
