OpenGL/res/shaders/** linguist-language=GLSL
libraries/** linguist-detectable=false
CMakePresets.json linguist-detectable=false
/libraries/assimp/lib/assimp-vc143-mtd.lib filter=lfs diff=lfs merge=lfs -text
